body {
    background-color: #000000;
    margin:0;
    padding: 0;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
}

.dropdown-content.select-dropdown > li span {
    background-color: #222222;
}

.padding {
    padding-bottom: 100px;
}

.right-padding {
    padding-right: 10px;
}

.switch.mycolor label input[type=checkbox]:checked+.lever {
   background-color: #F44336;
}

.switch.mycolor label input[type=checkbox]:checked+.lever:after {
   background-color: #e51c23;
}

#tooltip {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100px;
    text-align: center;
    padding: 5px 12px;
    font-family: monospace;
    background: #323232;
    display: none;
    opacity: 0;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s linear;
    border-radius: 3px;
    color: #fff;
}
